# Ignore everything under files and data
backend/files/**
backend/data/**

# Keep pre-made scenarios
!backend/files/[1-4]/
!backend/files/[1-4]/save.json

# Ignore backups
backend/files/[1-4]/backup.json

.env
.env.*
!.env.example